<article class="post">
        <div class="card-title">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="meta">
            Posted by {{user.username}} on {{createdAt}}
        </div>
        <div class="card-text">
            <p>{{post_text}}</p>
        </div>
        {{!-- <div class="footer">
            <a href="/post/{{id}}">{{comments.length}} Comment(s)</a>
        </div> --}}
</article>